.config-filter-form {
    .header-row {
        background-color: @border-color;
        padding: 0.4rem 0.6rem;
        border-radius: 8px;
        font-weight: 600;
    }

    .sub-row {
        padding: 0.4rem;

    }
}