.table-popup-select {
    width: 20% !important;
    min-width: 16rem;

    .ft-search {
        padding: 0 0.6rem 0.6rem 0.6rem;
    }

    .menu-dropdown {
        max-height: 700px !important;
        overflow-y: auto !important;


    }


}

.table-select-select {}