@primary-color: #AC9D64;
@text-color: #333;
@text-blur: #6F849F;
@text-gray: #4B5C71;
@color-error: rgba(231, 105, 95, 1);
@color-success: rgba(82, 203, 103, 1);
@place-holder-text: #7c7c7c;

@border-color: #DEE3ED;
@border-primary-color: rgba(245, 183, 0, 0.4);

@layout-bg-color: #F9F9F8;
@layout-bg-white: #fff;

// vertical paddings
@padding-md: 16px; // small containers and buttons

// vertical padding for all form controls
@control-padding-horizontal: @padding-md;

// height rules
@height-lg: 44px;

@border-color-base: #d3a429;
@white-color: #ffffff;