body {
  margin: 0 !important;
  font-size: 16px !important;
  font-family: 'Inter', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5715;
  background-color: #fff;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
}

.cke_dialog_tab[title='Upload'],
.cke_dialog_tab[title='Link'] {
  display: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  overflow: hidden;
}

#root {
  height: 100vh !important;
  overflow: hidden;
  /* color: rgb(7, 143, 233) */
}


iframe#webpack-dev-server-client-overlay {
  display: none !important
}